:root {
    --theme: linear-gradient(15deg, rgb(7, 7, 199), rgb(89, 206, 245));
    
}
:root{
    --dark-theme: linear-gradient(15deg, rgb(6, 6, 138), rgb(49, 180, 224));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    height: 100vh;
}
.top{
    color: white;
}
.side-btn{
    color: white;
}
.user{
    width: 60px;
    height: 50px;
}
.start{
    /* display: flex;
    justify-content: space-evenly;
    align-items: flex-end; */
   
    /* width: 100%; */

}
.container-fluid{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 120%;
    background: var(--theme);
    position:fixed;
}

#userInput{
    /* background-color: rgb(146, 202, 251); */
    /* border-radius: 30px; */
    border: none;
    width: 100%;
    /* border-top: 1px solid #525151; */
    background: transparent;
}

.my-btn{
    width:50px;
    height: 50px;
    background: var(--theme);
    color: white;
    border: none;
    border-radius: 50%;
    /* text-align: center !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-row{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    /* border-top: 1px solid #525151; */
    height: 78vh;
    width: 100%;
    position: absolute;
    bottom: 0;

}
.extra{
    position: fixed;
    background-color: white;
}
hr#line{
    color: rgb(0, 0, 0);
    width: 100%;
}

.my-btn:hover{
    background: linear-gradient(45deg, rgb(100, 100, 100),white);
    cursor: pointer;
    color: rgb(10, 127, 205);
}

#dark_mode:hover{
cursor: pointer;
}


@media screen and (max-width:767px){
    .my-btn{
        width:40px;
        height: 40px;
    }
    #userInput{
        width: 100%;
    }
    .bottom-sec1{
        /* width: 80% !important; */
    }
    .bottom-sec{
        /* width: 20% !important; */
    }
    
}